In [2]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
df = pd.read_csv('US_Accidents_May19.csv')

In [61]:
len(df)

2243939

In [62]:
df.columns

Index(['ID', 'Source', 'TMC', 'Severity', 'Start_Time', 'End_Time',
       'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)',
       'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State',
       'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)',
       'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)',
       'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [64]:
new_df = df.drop(['Nautical_Twilight','Astronomical_Twilight','Civil_Twilight','Source','TMC','Airport_Code', 'Weather_Timestamp','End_Lat','End_Lng','Country'],axis=1)

In [65]:
new_df.columns

Index(['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng',
       'Distance(mi)', 'Description', 'Number', 'Street', 'Side', 'City',
       'County', 'State', 'Zipcode', 'Timezone', 'Temperature(F)',
       'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)',
       'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)',
       'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way',
       'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset'],
      dtype='object')

In [69]:
len(new_df)

2243939

In [67]:
new_df['End_Time'] = pd.to_datetime(new_df['End_Time'])
new_df['Start_Time'] = pd.to_datetime(new_df['Start_Time'])

In [68]:
new_df['duration'] = new_df['End_Time'] - new_df['Start_Time']

In [70]:
new_df.to_csv('./filtered_US_accidents.csv',header=True, index=False)

In [47]:
new_df[0:1]

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Description,Number,Street,...,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,duration
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,0.01,Right lane blocked due to accident on I-70 Eas...,NaN,I-70 E,...,False,False,False,False,False,False,False,False,Night,05:14:00

In [48]:
new_df.dtypes

ID                            object
Severity                       int64
Start_Time            datetime64[ns]
End_Time              datetime64[ns]
Start_Lat                    float64
Start_Lng                    float64
Distance(mi)                 float64
Description                   object
Number                       float64
Street                        object
Side                          object
City                          object
County                        object
State                         object
Zipcode                       object
Timezone                      object
Temperature(F)               float64
Wind_Chill(F)                float64
Humidity(%)                  float64
Pressure(in)                 float64
Visibility(mi)               float64
Wind_Direction                object
Wind_Speed(mph)              float64
Precipitation(in)            float64
Weather_Condition             object
Amenity                         bool
Bump                            bool
Crossing                        bool
Give_Way                        bool
Junction                        bool
No_Exit                         bool
Railway                         bool
Roundabout                      bool
Station                         bool
Stop                            bool
Traffic_Calming                 bool
Traffic_Signal                  bool
Turning_Loop                    bool
Sunrise_Sunset                object
duration             timedelta64[ns]
dtype: object

In [57]:
# converting data type of duration
pd.to_timedelta(new_df['duration'])

0         05:14:00
1         00:30:00
2         00:30:00
3         00:30:00
4         00:30:00
            ...
2243934   06:00:00
2243935   06:00:00
2243936   06:00:00
2243937   06:00:00
2243938   06:00:00
Name: duration, Length: 2243939, dtype: timedelta64[ns]

In [3]:
data = pd.read_csv('./filtered_US_accidents.csv')

In [4]:
# dropping columns not used for visualization
new_df = data.drop(['End_Time','Pressure(in)','Humidity(%)','Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)', 'Amenity', 'duration','Start_Lat', 'Start_Lng','Distance(mi)','Number', 'Street','Zipcode','Timezone', 'Temperature(F)','Wind_Chill(F)',],axis=1)

In [7]:
# removing rows with no information about sunrise_sunset, side of accident and severity value 0
new_data = new_df[data.Sunrise_Sunset.notnull()]
new_data = new_data[new_data['Side'].notnull()]
new_data = new_data[new_data['Severity']!=0]

In [40]:
new_data = new_data[data.Weather_Condition.notnull()]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [9]:
# fixing precision of floating value to 2
new_data = new_data.round(2)

In [11]:
# converting Start_Time column to datetime and removing the time information
new_data["Start_Time"] = pd.to_datetime(new_data["Start_Time"])
new_data["Start_Time"] = new_data["Start_Time"].dt.date

In [43]:
new_data.columns

Index(['ID', 'Severity', 'Start_Time', 'Description', 'Side', 'City', 'County',
       'State', 'Visibility(mi)', 'Weather_Condition', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset'],
      dtype='object')

In [41]:
len(new_data)

2171855

In [42]:
# writing cleaned data to file
new_data.to_csv('./filtered_reduced_US_accidents.csv',header=True, index=False)

In [3]:
df = pd.read_csv('./filtered_reduced_US_accidents.csv')

In [35]:
df[0:2]

,ID,Severity,Start_Time,Description,Side,City,County,State,Pressure(in),Visibility(mi),...,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset
0,A-1,3,2016-02-08,Right lane blocked due to accident on I-70 Eas...,R,Dayton,Montgomery,OH,29.68,10.0,...,False,False,False,False,False,False,False,False,False,Night
1,A-2,2,2016-02-08,Accident on Brice Rd at Tussing Rd. Expect del...,L,Reynoldsburg,Franklin,OH,29.65,10.0,...,False,False,False,False,False,False,False,False,False,Night

In [4]:
df.columns

Index(['ID', 'Severity', 'Start_Time', 'Description', 'Side', 'City', 'County',
       'State', 'Visibility(mi)', 'Weather_Condition', 'Bump', 'Crossing',
       'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station',
       'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop',
       'Sunrise_Sunset'],
      dtype='object')

In [7]:
final = df.drop(['Description','Side','City','County','Visibility(mi)','Bump','Crossing','Give_Way','Junction','No_Exit','Railway','Roundabout','Station','Stop','Traffic_Calming','Traffic_Signal','Turning_Loop'],axis=1)

In [9]:
final.to_csv('./US_accidents.csv',header=True, index=False)